<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Conflict Resolution using Quality-based Reinforcement Learning"
            id="ir.ui.se.mdserg.corerl.commands.category"
            name="CoReRL">
      </category>
      <command
            categoryId="ir.ui.se.mdserg.corerl.commands.category"
            description="Creating the Resolution Process"
            id="ir.ui.se.mdserg.corerl.commands.resolutionCommand"
            name="Resolution">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ir.ui.se.mdserg.corerl.commands.resolutionCommand"
            class="ir.ui.se.mdserg.corerl.handlers.ResolvingHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ir.ui.se.mdserg.corerl.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/CoReRL.gif"
               id="ir.ui.se.mdserg.corerl.menus.sampleMenu"
               label="CoReRL"
               mnemonic="M">
            <command
                  commandId="ir.ui.se.mdserg.corerl.commands.resolutionCommand"
                  icon="icons/CRLogo.gif"
                  id="ir.ui.se.mdserg.corerl.menus.resolutionCommand"
                  label="Resolving Conflict"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
